@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Archivo";
  src: url("fonts/Archivo/Archivo-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General layout */

body {
  font-family: "Archivo";
  font-size: 18px;
  line-height: 1.5em;
}

.container {
  padding: 20px 60px;
}

/* Header */

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 100px -60px 100px 0px;
  overflow-x: hidden;
}

.name {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2em;
  width: 1000px;
  margin-right: 75px;
}

#dna {
  max-height: 100px;
}

.personal-description {
  font-size: 22px;
  max-width: 500px;
  color: #686868;
}

.links-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.social-media-link a {
  text-transform: uppercase;
  color: #c4c4c4;
  margin-right: 30px;
  text-decoration: none;
}
